.headerWrapper {
    position: relative;
    width: 100%;
    background: white;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .headerContainer {
        width: 66.67%;
        height: auto;

        & .headerLogo {
            color: black;
        }
    }
}