.headerWrapper {
    position: relative;
    width: 100%;
    background: #fff;
    height: 90px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: #03403A;
    border-bottom: 1px solid #b8c4c2;
    // box-shadow: 0 3px 7px rgba(0, 0, 0, 0.05);

    & .headerContainer {
        width: 66.67%;
        height: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        & .headerLogo {
            color: #03403A;
        }

        & .navWrapper {
            padding: 0 0 0 0em;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            height: 100%;
            flex-grow: 1;
            max-width: 100%;
            overflow-x: scroll;


            & ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                overflow-x: scroll;

            }

            & .navItem {
                padding: 2em 1.5em;
                cursor: pointer;
                height: 100%;
                white-space: nowrap;

                &:hover {
                    color: #02734A;
                    border-bottom: 3px solid #02734A;
                }
            }
        }

        & .navIcons {
            width: fit-content;
        }
    }
}

@media screen and (max-width: 768px) {
    .headerWrapper {
        .headerContainer {
            width: 100%;
            padding: 0 2em;
        }
    }
}