.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem 0;
  min-height: 100vh;
  // background: #f2f2f2;

  & select,
  input {
    font-size: 1em;
  }

  .submit {
    padding: 0.5em;
    background: #02734A;
    color: white;
    width: fit-content;
    border-radius: 4px;
    margin-top: 1.5em;
    font-weight: bold;
  }

  .container {
    width: 66.67%;
    height: auto;

    & .extendableContainer {
      display: flex;
      flex-direction: column;

      & .extendableContent {
        display: none;
        flex-direction: column;
        height: 0;
        opacity: 0;
        padding: 1em 0 1em 4.5em;
        transition: 150ms height ease-in-out;

        &.isActive {
          display: flex;
          opacity: 1;
          height: 100%;
          transition: 150ms height ease-in-out;
        }
      }
    }

    & .form {
      width: 100%;

      & .formContent {
        margin-top: 2em;

        & h2 {
          font-family: 'MDB', serif;
          color: #00684A;
        }
      }

      & .dropDownWrapper {
        width: 100%;
      }

      & .checkBoxWrapper {
        margin-top: 2em;
        width: 100%;
        display: flex;
        flex-direction: column;

        & .checkBoxContainer {
          min-height: 4em;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          & .additionalInput {
            flex-direction: row;
            transition: 0.3s height ease-in-out;
            align-items: center;
            height: 0;
            display: none;

            &.isActive {
              height: 100%;
              display: flex;
              transition: 0.3s height ease-in-out;
            }
          }
        }

        & label {
          margin: 0 0.5em;

          & input {
            width: 4em;
            margin: 0 0.25em;
          }
        }
      }
    }

    & .resultContainer {
      width: 66%;
      margin-top: 2em;
      background: #eef9f6;
      padding: 2em;
      // padding-right: 10em;
    }
  }
}


@media screen and (max-width: 768px) {
  .main {
    .container {
      width: 100%;
      padding: 0 2em;
    }
  }
}